# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log

# Airflow logs
airflow-docker/logs/

# Virtual environments
venv/
.env/

# System
.DS_Store

# VS Code
.vscode/

# Screenshots
# (optional: include only if you don’t want to push heavy or personal images)
# screenshots/